<h2>Submit A Blog</h2>
<%= form_with model: @blog, local: true do |form| %>
<%= form.label :title %>
<%= form.text_field :title%>
<br>
<br>
<%= form.label :content %>
<%= form.text_field :content%>
<br>
<br>
<%= form.submit 'Submit Blog' %>
<% end %>
<br>
<br>
<h5> <%= link_to 'Home', blogs_path %></h5>