<h2>An Awesome Blog</h2>
<h4>You are reading: <%= @blog.title %></h4>
<p><%= @blog.content %></p>
<h5> <%= link_to 'Home', blogs_path %></h5>
<h5> <%= link_to 'Delete Blog', delete_blog_path(@blog), method: :delete, data: 
{ confirm: 'Are you sure?'} %></h5>

<%= link_to 'Upadte a blog', edit_blog_path(@blog) %>